# Master's Thesis - James Quacinella


# Abstract

**Objectives:** This study will extend an established model for estimating the current living wage in 2015 to the past decade for the purpose of:

* an exploratory analysis trends in the gap between the estimated living wage and the minimum wage
* evaluating any correlation between the living wage gap and other economic metrics, including public funds spent on social services

**Methods:** The original data set for this model is for 2015. This study will extend the data sources of this model into the past to enable trend analysis. Data for economic metrics from public data sources will supplement this data for correlation analysis.


# Methods

## Model

The original model proposed estimated the living wage in terms of 9 variables:

** *basic_needs_budget* ** = *food_cost* + *child_care_cost* + ( *insurance_premiums* + *health_care_costs* ) + *housing_cost* + *transportation_cost* + *other_necessities_cost*

** *living_wage* ** = *basic_needs_budget* + ( *basic_needs_budget* \* *tax_rate* )

## Data Sources

The following data sources are used to find estimates of the model variables:

* The food cost is estimated from data from the USDA’s low-cost food plan national average in June 2014.
* Child care is based off state-level estimates published by the National Association of Child Care Resource and Referral Agencies.
* Insurance costs are based on the insurance component of the 2013 Medical Expenditure Panel Survey.
* Housing costs are estimated from the HUD Fair Market Rents (FMR) estimates
* Other variables are pulled from the 2014 Bureau of Labor Statistics Consumer Expenditure Survey.

These data sets extend into the past, allowing for calculating the model for years past. The data will also have to be adjusted for inflation 6.

## Analytic Approach

First, data will be gathered from the data sources of the original model but will be extended into the past. The methodology followed by the model will be replicated to come up with a data set representing estimates of the living wage across time. After the data set is prepared, the trend of the living wage as compared to minimum wage can be examined. Has the gap increased or decreased over time, and at what rate? Have certain areas seen larger than average increases or decreases in this gap? 

Once preliminary trend analysis is done, this data set will be analyzed in comparison to other economic trends to see if any interesting correlations can be found. Correlations to GDP growth rate and the national rate of unemployment can be made, but the primary investigation will be to see if the living wage gap correlates to national spending on SNAP (Food stamps). In other words, we will see if there is any (potentially time lagged) relationship between the living wage gap and how much the United States needs to spend to support those who cannot make ends meet. A relationship here can potentially indicate that shrinking this gap could lower public expenditures.


## Presentation Of Results

Results will be presented for both parts of the data analysis. For studying the living wage gap trends, this report will present graphs of time series, aggregated in different ways, of the living wage as well as the living wage gap. Some of these time series will be presented along side data on public expenditures on SNAP to visually inspect for correlations.

## Background / Sources

- Glasmeier AK, Nadeau CA, Schultheis E: LIVING WAGE CALCULATOR User’s Guide / Technical Notes 2014 Update
- USDA low-cost food plan, June, 2014
- Child Care in America 2014 State fact sheets
- 2013 Medical Expenditure Panel Survey Available
- Consumer Expenditure Survey
- Inflation Calculator

------

------

------

# Pre-Data Collection

Lets do all of our imports now:

In [4]:
import numpy as np
from prettytable import PrettyTable
from IPython.core.display import HTML
from collections import OrderedDict, defaultdict
from bs4 import BeautifulSoup
import os
from pprint import pprint
import pandas as pd

PROJECT_PATH = "/home/james/Development/Masters/Thesis" # Path to project files on my local computer

def caption(msg, tablenum):
    ''' Help convert text into suitable table caption. '''
    return "<br><b>Table %d - %s</b>" % (tablenum, msg)

Lets setup some inflation multipliers:

**TODO** Fill in more values for updated multipliers

In [151]:
# Multiply a dollar value to get the equivalent 2014 dollars
# Original numbers from model; used to confirm model
inflation_multipliers = {
    2010: 1.092609, 
    2011: 1.059176,
    2012: 1.037701,
    2013: 1.022721,
    2014: 1.0
}

# Updated inflation numbers should scale to 2015 dollars
updated_inflation_multipliers = {
    2001: 1.0,
    2002: 1.0,
    2003: 1.0,
    2004: 1.0,
    2005: 1.0,
    2006: 1.0,
    2007: 1.0,
    2008: 1.0,
    2009: 1.0, # 1.0's just to have a value for this key ...
    2010: 1.092609, 
    2011: 1.059176,
    2012: 1.037701,
    2013: 1.022721,
    2014: 1.0
}

Global identifiers used throught the project:

In [5]:
# Constants used to refer to US regions
REGION_EAST = 'east'
REGION_MIDWEST = 'midwest'
REGION_SOUTH = 'south'
REGION_WEST = 'west'

Lets setup regional differences for the food data:

In [6]:
# Multiply price of food by regional multipler to get better estimate of food costs
food_regional_multipliers = {
    REGION_EAST: 0.08,
    REGION_WEST: 0.11,
    REGION_SOUTH: -0.07,
    REGION_MIDWEST: -0.05,
}

------

------

------

#  Data Collection

The following sections will outline how I gathered the data for the various model parameters as well as other data we need to calculate their values. The original model was made for 2014 data and extending this data to the past means we need to be careful that any changes in the underlying data methodology of these parameters needs to be noted.

## Data Sources

### Consumer Expenditure Report

Wget commands used to get the Consumer Expenditure Reports:

In [ ]:
# Get CEX for 2013 and 2014 (XLSX format)
for i in `seq 2013 2014`; do wget http://www.bls.gov/cex/$i/aggregate/cusize.xlsx -O ${i}_cex.xlsx; done

# Get CEX for 2004 - 2012 (XLS format)
for i in `seq 2004 2012`; do wget http://www.bls.gov/cex/$i/aggregate/cusize.xls -O ${i}_cex.xls; done

# Get CEX for 2001 to 2003 (TXT format)
for i in `seq 2001 2003`; do wget http://www.bls.gov/cex/aggregate/$i/cusize.txt -O ${i}_cex.txt; done


# Get CEX region for 2013 and 2014 (XLSX format)
for i in `seq 2013 2014`; do wget http://www.bls.gov/cex/$i/aggregate/region.xlsx -O ${i}_region_cex.xlsx; done

# Get CEX region for 2004 - 2012 (XLS format)
for i in `seq 2004 2012`; do wget http://www.bls.gov/cex/$i/aggregate/region.xls -O ${i}_region_cex.xls; done

# Get CEX region for 2001 to 2003 (TXT format)
for i in `seq 2001 2003`; do wget http://www.bls.gov/cex/aggregate/$i/region.txt -O ${i}_region_cex.txt; done

### USDA Food Plans

Wget commands used to gather data files:

In [ ]:
# Change command to get '10 - '15
for i in {1..9}; do  wget http://www.cnpp.usda.gov/sites/default/files/usda_food_plans_cost_of_food/CostofFoodJun0$i.pdf; done

### Free Market Rent Data From HUD

Below are the wget commands for getting the FMR data

#### TODO 

* Extract counties -> state -> region mapping

In [ ]:
for i in `seq 2014 2015`; do wget http://www.huduser.gov/portal/datasets/fmr/fmr${i}f/FY${i}_4050_RevFinal.xls -O fmr${i}.xlsx; done
for i in `seq 2010 2013`; do wget http://www.huduser.gov/portal/datasets/fmr/fmr${i}f/FY${i}_4050_Final.xls -O fmr${i}.xlsx; done
for i in `seq 2009 2009`; do wget http://www.huduser.gov/portal/datasets/fmr/fmr${i}r/FY${i}_4050_Rev_Final.xls -O fmr${i}.xlsx; done

# GRRRR
wget http://www.huduser.gov/portal/datasets/fmr/fmr2008r/FMR_county_fy2008r_rdds.xls
wget http://www.huduser.gov/portal/datasets/fmr/fmr2007f/FY2007F_County_Town.xls
wget http://www.huduser.gov/portal/datasets/fmr/fmr2006r/FY2006_County_Town.xls
wget http://www.huduser.gov/portal/datasets/fmr/fmr2005r/Revised_FY2005_CntLevel.xls
wget http://www.huduser.gov/portal/datasets/FMR/FMR2004F/FMR2004F_County.xls
wget http://www.huduser.gov/portal/datasets/fmr/FMR2003F_County.xls
wget http://www.huduser.gov/portal/datasets/fmr/FMR2002F.xls

In [23]:
# Counties dict will map county ID to useful infomation, mostly region
counties = { }

### Medical Expenditure Panel Survey from the Agency for Healthcare Research and Quality

Below are the wget commands used to download this data. This data will have to be further parsed from HTML.

In [ ]:
# Need to figure out what to do prior to 2006
for i in `seq 2006 2014`; do 
    wget -O ${i}_txc1.html http://meps.ahrq.gov/mepsweb/data_stats/summ_tables/insr/state/series_10/${i}/txc1.htm; 
done

---

---

---

## Model Variable: Food

Data for the food calculations have been successfully downloaded in PDF form. The main way to calculate this is, from the PDF:

>Adult  food  consumption  costs  are  estimated  by  averaging  the  low - cost  plan  food  costs for  males  and  females  between  19  and  50

Note, we add 20% to the values from the data sheets, since the notes on all published PDFs from the USDA state to add 20% to the listed values for individuals since:

>The costs given are for individuals in 4-person families. For individuals in other size families, the following adjustments are suggested: 1-person—add 20 percent; ...

The notes for the model also state that regional weights are applied to give a better estimate for food costs across the nation. The result of this section are values fo 2014 that match exactly tot he data given on the model website, so I am confident the implementation of the methodology below is correct.

### Notes: Change of Methodology

In 2006, the data from the USDA changed the age ranges for their healthy meal cost calculations. The differences in range are minimal and should not effect overall estimations.

In [67]:
# The base food cost (not regionally weighed) for nation (data pulled manually from PDFs)
national_monthly_food_cost_per_year = {
    2014: {"base": np.average([241.50, 209.80])},
    2013: {"base": np.average([234.60, 203.70])},
    2012: {"base": np.average([234.00, 203.00])},
    2011: {"base": np.average([226.80, 196.90])},
    2010: {"base": np.average([216.30, 187.70])},
    2009: {"base": np.average([216.50, 187.90])},
    2008: {"base": np.average([216.90, 189.60])},
    2007: {"base": np.average([200.20, 174.10])},
    2006: {"base": np.average([189.70, 164.80])},
    2005: {"base": np.average([186.20, 162.10])},
    2004: {"base": np.average([183.10, 159.50])},
    2003: {"base": np.average([174.20, 151.70])},
    2002: {"base": np.average([170.30, 148.60])},
    2001: {"base": np.average([166.80, 145.60])},
}

# Create ordered dict to make sure we process things in order
national_monthly_food_cost_per_year = OrderedDict(sorted(national_monthly_food_cost_per_year.items(), 
                                                        key=lambda t: t[0]))

# Adjust the data according to notes above
for year in national_monthly_food_cost_per_year:
    # Inflation and 20% adjustment
    national_monthly_food_cost_per_year[year]["base"] = \
        national_monthly_food_cost_per_year[year]["base"] * 1.20 * updated_inflation_multipliers[year]

    # Regional adjustment
    national_monthly_food_cost_per_year[year]["regional"] = { }
    for region in food_regional_multipliers:
        national_monthly_food_cost_per_year[year]["regional"][region] = \
            national_monthly_food_cost_per_year[year]["base"] * (1 + food_regional_multipliers[region])

In yearly form:

In [149]:
# Print it nicely in yearly costs
pt = PrettyTable()
pt.add_column("Year", national_monthly_food_cost_per_year.keys())
pt.add_column("Food Cost (per year)", [np.round(x["base"] * 12) for x in national_monthly_food_cost_per_year.values()])
for region in food_regional_multipliers:
    pt.add_column("Food Cost (%s)" % region, [np.round(x["regional"][region] * 12) for x in national_monthly_food_cost_per_year.values()])

# Print as HTML
HTML(pt.get_html_string() + caption("Food Data Loaded from USDA Pricing on Meals", 1))

## Model Variable: Transportation Cost

Looking at the (1) Cars and trucks (used), (2) gasoline and motor oil, (3) other vehicle expenses, and (4)  public  transportation fields under "Transportation" in the 2014 Consumer Expenditure Report, we can pull out information from each to model the claculation done in the original model. For each sub-variable, we get the amount of money (in millions) and the percentgae of that that single adults spend. After multiple those numbers (accounting for units) and dividiing by the total number of single adults in the survey gives us a mean total cost per adult.

The original model takes into account regional drift by scaling based on each regions. NOTE: See todo in this section

Since this data reflects conditions in 2013, we account for inflation to get the 2014 estimate that is produced in the original model.

### TODO:

* Figure out how to do regional differences correctly. Emailed model creator for clarification

In [55]:
# Transportation data from 2014 survey is for year 2013, etc
cex = {
    2012: {
        "single_adults": 37770.0,
        "transport": {
            "used_car": 209764.0,
            "gasoline": 328170.0,
            "other_vehicle": 324668.0,
            "public": 67486.0,
            "used_car_percent": 0.152,
            "gasoline_percent": 0.158,
            "other_vehicle_percent": 0.191,
            "public_percent": 0.174,
            "regional": {
                REGION_EAST:   16.4 / 17.6,  
                REGION_MIDWEST: 18.0 / 17.6,
                REGION_SOUTH: 18.9 / 17.6,
                REGION_WEST: 16.5 / 17.6,
            }
        }

    },
    2013: {
        "single_adults": 37884.0,
        "transport": {
            "used_car": 214524.0,
            "gasoline": 313481.0,
            "other_vehicle": 345454.0,
            "public": 73842.0,
            "used_car_percent": 0.146,
            "gasoline_percent": 0.157,
            "other_vehicle_percent": 0.163,
            "public_percent": 0.172,
            "regional": {
                REGION_EAST: 15.7 / 17.0,     # 0.923
                REGION_MIDWEST: 16.9 / 17.0,  # 0.994
                REGION_SOUTH: 18.3 / 17.0,    # 1.076
                REGION_WEST: 16.1 / 17.0,     # 0.947
            }
        }
    },
}

# Ideal numbers from model
ideal_transport_2013 = (3764, 4569, 4697, 4054)

# Base price for transport
transportation_costs = defaultdict(dict)

for year in cex:
    transportation_costs[year]["base"] = \
        (1000000 * ((cex[year]["transport"]["used_car"] * cex[year]["transport"]["used_car_percent"]) + \
                    (cex[year]["transport"]["gasoline"] * cex[year]["transport"]["gasoline_percent"]) + \
                    (cex[year]["transport"]["other_vehicle"] * cex[year]["transport"]["other_vehicle_percent"] ) + \
                    (cex[year]["transport"]["public"] * cex[year]["transport"]["public_percent"] )) /  float(cex[year]["single_adults"] * 1000) ) * inflation_multipliers[year]

    # Account for regional drift
    for region in cex[year]["transport"]["regional"]:
        transportation_costs[year][region] = transportation_costs[year]["base"] * cex[year]["transport"]["regional"][region]

transportation_costs["2014_ideal"]["base"] = 0.0
transportation_costs["2014_ideal"][REGION_EAST] = ideal_transport_2013[0]
transportation_costs["2014_ideal"][REGION_MIDWEST] = ideal_transport_2013[1]
transportation_costs["2014_ideal"][REGION_SOUTH] = ideal_transport_2013[2]
transportation_costs["2014_ideal"][REGION_WEST] = ideal_transport_2013[3]

# Print it nicely
errors = []
pt = PrettyTable()
pt.add_column("Year", transportation_costs.keys())
for region in sorted(transportation_costs[2013].keys()):
    data = [ transportation_costs[year][region] for year in transportation_costs  ]
    pt.add_column("Trans Cost (%s)" % region, data)
    errors.append(transportation_costs["2014_ideal"][region] - data[-2])

print(sum([np.abs(error) for error in errors]))

# Print as HTML
HTML(pt.get_html_string())

5209.92768399

### Testing theory about regional difference

In [123]:
# Order: NE, MW, S, W
used_car_rations = (2.5 / 3.2, 3.5 / 3.2, 3.5 / 3.2, 2.9 / 3.2)
gas_rations = (3.8 / 4.6, 4.7 / 4.6, 5.2 / 4.6, 4.5 / 4.6)
other_rations = (5.2 / 5.1, 5.0  / 5.1, 5.1 / 5.1,  5.1 / 5.1)
public_rations = (1.6/1.1,  0.9/1.1,  0.8/1.1, 1.2/1.1)

error = []
for region in range(4):
    val = (1000000 * 
         ( (
            (cex[2013]["transport"]["used_car"] * cex[2013]["transport"]["used_car_percent"] * used_car_rations[region]) + \
            (cex[2013]["transport"]["gasoline"] * cex[2013]["transport"]["gasoline_percent"] * gas_rations[region]) + \
            (cex[2013]["transport"]["other_vehicle"] * cex[2013]["transport"]["other_vehicle_percent"] * other_rations[region]) + \
            (cex[2013]["transport"]["public"] * cex[2013]["transport"]["public_percent"] * public_rations[region])
        ) /  (float(cex[2013]["single_adults"] * 1000)) ) * inflation_multipliers[2013])
    errors.append( val - ideal_transport_2013[region] )

print(sum([np.abs(error) for error in errors]))

7516.27558175

In [147]:
# calculate regional diff values from aggregated data (since 'combined' only goes back to 2012)
print 1/ (6790803*1000000*20.1 / (1152035*1000000*18.6))
print 1/ (6790803*1000000*21.7 / (1152035*1000000*21.7))
print 1/ (6790803*1000000*34.3 / (1152035*1000000*37.1))
print 1/ (6790803*1000000*23.9 / (1152035*1000000*22.6))


print 1152035/6790803.0

0.15698618246
0.169646358465
0.183495040788
0.160418732272
0.169646358465

## Model Variable: Child Care Cost

Manually download PDFs from ChildCareAware.org. Sadly, they only go back to 2010. I can now either:

* have to find other estimates of child care costs from pre-2010 (prefered)
* check if the Consumer Expenditure Survey has data on this
* impute the data (dont think this is a good idea)
* limit the analysis going back to 2010 (which seems limiting since other data, like the Consumer Expenditure Survey in 2014 provides 2013 data and that is the latest currently).

Currently I am only focusing on modeling costs for a single adult (an assumption I made early on) since I am interested in trends, and the other 'family configurations' are just linear combinations of the costs for one adult and for one child. However if I wanted to extend the numbers for 1 adult + 1 child, I would have to look into this further. For now I'll move on.

## Model Variable: Insurance Premiums

The model uses data from the Medical Expenditure Panel Survey from the Agency for Healthcare Research and Quality (searchable [here](http://meps.ahrq.gov/mepsweb/data_stats/quick_tables_search.jsp?component=2&subcomponent=2)). Specifically, the model assumes a single adult's insurance costs are best estimated from Table X.C.1 Employee contribution distributions (in dollars) for private-sector employees enrolled in single coverage. This survey gives the mean cost for a single adult per state.

Below is code on processing each html file.

**PROBLEMS**

* One problem is that in 2007 this survey was not done.
    * Linearly impute data from 2006 and 2008? Seems resonable if we can assume that costs tend to go up every year and not go down, which makes it seem likely that 2007 values would be bounded by the previous and next year
* Another problem is that this portion of the survey started in 2006
    * Find another data source for pre 2006?
    * Limit analysis to 2006 - 2014, which is nearly a decade

In [126]:
# Process HTML files with BeautifulSoup
insurance_costs = {}
insurance_costs_path = os.path.join(PROJECT_PATH, "data/insurance")

# Loop thru all the files
for filename in os.listdir(insurance_costs_path):
    states = {}
    
    # File is for what year?
    year = int(filename.split('_')[0])
    
    # Open file
    full_filename = os.path.join(insurance_costs_path, filename)
    f = open(full_filename, "r")
    
    # Import into BeautifulSoup
    data = f.readlines()
    soup = BeautifulSoup(''.join(data))

    # Works for years 2010 - 2014
    if year in range(2010, 2015):
        for tr in soup.find_all('tr'):
            # State is located in the TR element
            state = tr.get_text().split("\n")[1].lower().strip()
            
            # Find the data, but if you can't, skip it
            td = tr.find_all('td')
            value = None
            if td: 
                try:
                    value = float(td[0].get_text().strip().replace(",", ""))
                    
                    # Account for inflation and round up
                    value = np.round(value * updated_inflation_multipliers[year])
                except ValueError as e:
                    continue

            # We need to stop processing after the first chunk or if we couldnt get a value
            if state not in states and value:
                states[state] = value
    # Works for 2006, 2008 - 2009
    else:
        for tr in soup.find_all('tr'):
            td = tr.find_all('td')

            value = None
            if len(td) > 2: 
                # Same as above, but state is fist TD, not in TR
                state = td[0].get_text().lower().strip()
                try:
                    value = float(td[1].get_text().strip().replace(",", ""))
                    
                    # Account for inflation
                    value = np.round(value * updated_inflation_multipliers[year])
                except ValueError as e:
                    continue

            if state not in states and value:
                states[state] = value

    # Add data from file to global dict
    insurance_costs[year] = states

In [150]:
# Print results
pt = PrettyTable()

# Setup column names but skip DC and United states total
pt.field_names = ["Year"] + [state for state in sorted(insurance_costs[2013].keys()) \
                             if "district" not in state and 'united' not in state]

# Add rows from dict we have on insurance costs
for year in insurance_costs.keys():
    pt.add_row([year] + [insurance_costs[year][state] for state in sorted(insurance_costs[year].keys()) \
                         if "district" not in state and 'united' not in state])

# Print as HTML
HTML(pt.get_html_string() + caption("Data for insurance costs across the united states per year, adjusted for inflation", 2))

## Model Variable: Health Care Costs

Calculated from the CEX data from above, essentially done once regional differencing is done

### TODO

* Complete data load once regional differences are figured out

## Model Variable: Housing Cost

Definition from the model:

> We assumed  that  a  one  adult  family  would  rent a  single occupancy unit (zero bedrooms) for an individual adult household, that a two adult family would  rent a one bedroom apartment,

### TODO

* download all data (DONE, in above section on data downloading)
* figure out how to extract what we need from ecah XLS and extract CSV files (DONE)
* import CSV files into pandas data frames (DONE for 2009-2014)
* figure out multi level index for data
* figure out how to get estimate for HUD areas

In [6]:
# Fair Market Rent data
fmr_data = { }

# For now, only loading 2009 - 2014
for year in range(2009, 2015):
    with open(PROJECT_PATH + "/data/fmr/fmr%d.csv" % year, 'rb') as csvfile:
        fmr_data[year] = pd.read_csv(csvfile)
        try:
            fmr_data[year] = fmr_data[year][["fmr0", "county", "CouSub", "countyname", "fips2000", "fips2010", "pop2010", "state_alpha"]]
        except:
            fmr_data[year] = fmr_data[year][["fmr0", "county", "CouSub", "countyname", "FIPS", "pop2000", "state_alpha"]]

# Print example
fmr_data[2009]

,fmr0,county,CouSub,countyname,FIPS,pop2000,state_alpha
0,530,1,99999,Autauga County,100199999,43671,AL
1,512,3,99999,Baldwin County,100399999,140415,AL
2,430,5,99999,Barbour County,100599999,29038,AL
3,563,7,99999,Bibb County,100799999,20826,AL
4,563,9,99999,Blount County,100999999,51024,AL
5,381,11,99999,Bullock County,101199999,11714,AL
6,381,13,99999,Butler County,101399999,21399,AL
7,410,15,99999,Calhoun County,101599999,112249,AL
8,427,17,99999,Chambers County,101799999,36583,AL
9,446,19,99999,Cherokee County,101999999,23988,AL
10,377,21,99999,Chilton County,102199999,39593,AL
11,426,23,99999,Choctaw County,102399999,15922,AL
12,334,25,99999,Clarke County,102599999,27867,AL
13,428,27,99999,Clay County,102799999,14254,AL
14,432,29,99999,Cleburne County,102999999,14123,AL
15,410,31,99999,Coffee County,103199999,43615,AL
16,471,33,99999,Colbert County,103399999,54984,AL
17,426,35,99999,Conecuh County,103599999,14089,AL
18,417,37,99999,Coosa County,103799999,12202,AL
19,428,39,99999,Covington County,103999999,37631,AL
20,381,41,99999,Crenshaw County,104199999,13665,AL
21,446,43,99999,Cullman County,104399999,77483,AL
22,397,45,99999,Dale County,104599999,49129,AL
23,341,47,99999,Dallas County,104799999,46365,AL
24,383,49,99999,DeKalb County,104999999,64452,AL
25,530,51,99999,Elmore County,105199999,65874,AL
26,427,53,99999,Escambia County,105399999,38440,AL
27,371,55,99999,Etowah County,105599999,103459,AL
28,337,57,99999,Fayette County,105799999,18495,AL
29,335,59,99999,Franklin County,105999999,31223,AL
...,...,...,...,...,...,...,...
4733,431,101,99999,Morovis Municipio,7210199999,29965,PR
4734,431,103,99999,Naguabo Municipio,7210399999,23753,PR
4735,431,105,99999,Naranjito Municipio,7210599999,29709,PR
4736,351,107,99999,Orocovis Municipio,7210799999,23844,PR
4737,357,109,99999,Patillas Municipio,7210999999,20152,PR
4738,330,111,99999,Peñuelas Municipio,7211199999,26719,PR
4739,414,113,99999,Ponce Municipio,7211399999,186475,PR
4740,351,115,99999,Quebradillas Municipio,7211599999,25450,PR
4741,338,117,99999,Rincón Municipio,7211799999,14767,PR
4742,431,119,99999,Río Grande Municipio,7211999999,52362,PR
4743,333,121,99999,Sabana Grande Municipio,7212199999,25935,PR
4744,330,123,99999,Salinas Municipio,7212399999,31113,PR
4745,333,125,99999,San Germán Municipio,7212599999,37105,PR
4746,431,127,99999,San Juan Municipio,7212799999,434374,PR
4747,391,129,99999,San Lorenzo Municipio,7212999999,40997,PR
4748,338,131,99999,San Sebastián Municipio,7213199999,44204,PR
4749,330,133,99999,Santa Isabel Municipio,7213399999,21665,PR
4750,431,135,99999,Toa Alta Municipio,7213599999,63929,PR
4751,431,137,99999,Toa Baja Municipio,7213799999,94085,PR
4752,431,139,99999,Trujillo Alto Municipio,7213999999,75728,PR
4753,330,141,99999,Utuado Municipio,7214199999,35336,PR
4754,431,143,99999,Vega Alta Municipio,7214399999,37910,PR
4755,431,145,99999,Vega Baja Municipio,7214599999,61929,PR
4756,330,147,99999,Vieques Municipio,7214799999,9106,PR
4757,414,149,99999,Villalba Municipio,7214999999,27913,PR
4758,431,151,99999,Yabucoa Municipio,7215199999,39246,PR
4759,330,153,99999,Yauco Municipio,7215399999,46384,PR
4760,563,10,99999,St. Croix,7801099999,53234,VI
4761,640,20,99999,St. John,7802099999,4197,VI
4762,640,30,99999,St. Thomas,7803099999,51181,VI

## Model Variable: Other Necessities Cost

Calculated from the CEX data from above, essentially done once regional differencing is done

>   Expenditures for other necessities are based on 
2013 data by household size  from  the  2014 Bureau  of  Labor  Statistics  Consumer  Expenditure  Survey
including: (1) Apparel  and  services,  (2)  Housekeeping  supplies,  (3)  Personal  care  products  and  services, 
(4)  Reading, and (5) Miscellaneous.  These costs were further adjusted for regional differences using annual  expenditure  shares  reported  by  region



### TODO

* Complete data load once regional differences are figured out

In [48]:
# Update cex dictionary with values for other variable
cex[2013].update( 
    {
        "single_adults": 37884.0,
        "other": {
            "apparel": 226385.0, 
            "housekeeping": 80097.0,
            "personal_care": 81837.0,
            "reading": 13086,
            "misc": 99290,
            
            "apparel_percent": 0.13,
            "housekeeping_percent": 0.164,
            "personal_care_percent": 0.182,
            "reading_percent": 0.205,
            "misc_percent": 0.228,
            
            "apparel_region": [ x / 3.3 for x in (3.3, 3.6, 3.2, 3.3)],
            "housekeeping_region": [ x / 1.2 for x in (1.0, 1.4, 1.2, 1.1 )],
            "personal_care_region": [ x / 1.2 for x in (1.2, 1.3, 1.2, 1.2 )],
            "reading_region": [ x / 1.0 for x in (1,1,1,1)],
            "misc_region": [ x / 1.5 for x in (1.4, 1.5, 1.3, 1.6)],
        }
    }
)

# Values for 'other' from county webpages
ideal_other_2013 = (2096, 2127, 2253, 2284)

for region in range(4):
    val = (1000000 * 
         ( (
            (cex[2013]["other"]["apparel"] * cex[2013]["other"]["apparel_percent"] * cex[2013]["other"]["apparel_region"][region]) + \
            (cex[2013]["other"]["housekeeping"] * cex[2013]["other"]["housekeeping_percent"] * cex[2013]["other"]["housekeeping_region"][region]) + \
            (cex[2013]["other"]["personal_care"] * cex[2013]["other"]["personal_care_percent"] * cex[2013]["other"]["personal_care_region"][region]) + \
            (cex[2013]["other"]["reading"] * cex[2013]["other"]["reading_percent"] * cex[2013]["other"]["reading_region"][region]) + \
            (cex[2013]["other"]["misc"] * cex[2013]["other"]["misc_percent"] * cex[2013]["other"]["misc_region"][region])
        ) /  (float(cex[2013]["single_adults"] * 1000)) ) * inflation_multipliers[2013])

    # Print difference between calc and data from website
    print "Diff for region %d: %f %f" % (region, val, ideal_other_2013[region])

Diff for region 0: 2134.921071 2096.000000
Diff for region 1: 2399.604462 2127.000000
Diff for region 2: 2129.205730 2253.000000
Diff for region 3: 2245.958136 2284.000000

In [42]:
float(cex[2013]["single_adults"] * 1000)

37884000.0

## Taxes Data

## Minimum Wage or Mediun Wage per County or State

-----

-----

-----

## Creating Final Merged Data Frame

Take all data loaded in prior into a multi-level index data frame

## Introductory Analysis

Create visualizations on:

* Find national mean living wage gap, plot it over time
* Look at distributions over states of living wage gap over time (facet grid, each graph is a state showing gap over time)
* Seperate counties based on race and find national means of gap per year

## Correlations with Economic Metrics

* motion chart of states, x = gap, y = life exp, debt levels